@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

.card-container {
    display: flex; /* Usando Flexbox */
    gap: 20px; /* Espaçamento de 20px entre os cards */
}
   
.card {
    max-width: 350px;
    background-color: #a315ce;
    border-radius: 25px;
    padding: 30px 60px;
    font-family: 'Poppins', sans-serif; /* Correção do nome da fonte */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Adiciona sombra para profundidade */
}

.card__item {
    padding: 10px 0; /* Adiciona espaçamento vertical */
}

.card__price{
    font-size: 32px;
    font-weight: 700; 
    color: #000000; 
}

.card__plan {
    font-size: 22px;
}

.card__button {
    font-size: 16px;
    text-align: center;
    margin-top: 10px;
    border-radius: 25px;
    background-color: white;
    color: #dc57fd; /* Cor do texto do botão */
    padding: 10px 20px; /* Adiciona padding para um botão mais espaçoso */
    border: none; /* Remove borda padrão */
    cursor: pointer; /* Muda o cursor para indicar que é clicável */
    transition: background-color 0.3s, transform 0.2s; /* Adiciona transição suave */
}

.card__button:hover {
    background-color: #f0f0f0; /* Cor de fundo ao passar o mouse */
    transform: scale(1.05); /* Efeito de aumento ao passar o mouse */
}